<!DOCTYPE html>
<html>
    <head>
        <h1>Register</h1>
    </head>
    <body>
        <form method="POST" action="/register">
            <label for="name">Name:</label>
            <input type="text" name="name" required><br><br>
            <label for="password">Password:</label>
            <input type="password" name="password" required> <br><br>
            <label for="year">Enter Year:</label>
            <select name="year" id="year">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select><br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>